<p id="notice"><%= notice %></p>


<p>
  <strong>Segundo:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post.content %>
</p>

<!--permirtir somente o usuario usar o edit-->
<% if @post.user==current_user%>
  <%= link_to 'Edit', edit_post_path(@post) %> <br>
<% end %>

<%= link_to 'Back', user_path(@current_user)%>
<br>
<%= link_to  "fazer um comentario", user_post_comment_path(@post.user_id,@post,:new) %>

<%@vari= @post.likes.find_by user_id:@current_user%>

<!--curtir somente uma vez-->
<%if @vari.nil?%>
  <%=link_to 'curtir',user_post_like_path(@post.user_id,@post,:new) %>

<%end%>

<p>esse post tem <%=@post.likes.length%> curtida(s)</p>
<p>esse post tem <%=@post.comments.length%> comentario(s)</p>

<br>
<p> comentarios </p>
<!--colocar o comment dando permissao para destruir somente se for o dono do comment-->

<%@post.comments.each do |comment|%>
  
  <%@aux=User.find_by id: comment.user_id%>
  <p> Segundo <%=@aux.name%></p>
  <p><%=comment.content%></p>
  <%if @current_user.id == comment.user_id%>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
  
<%end%>