<%= form_with(model: friend_ship, local: true) do |form| %>
  <% if friend_ship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend_ship.errors.count, "error") %> prohibited this friend_ship from being saved:</h2>

      <ul>
      <% friend_ship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :friend_id %>
    <%= form.number_field :friend_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
