<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friend_ship.user_id %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @friend_ship.friend_id %>
</p>

<%= link_to 'Back', user_path(@current_user)  %>
