<% @users=User.all %>

<br>
<% for user in (@users)%>
    <tr>
        <%if user != @current_user%>
        <td><%= user.name %></td>
        <td> <%= link_to  "Ver perfil", user_path(user) %></td>
        
        <br>
        <% end %>
        
    <tr>
<% end %>
<br>
<%= link_to  "back", user_path(@current_user) %>
