<% if logged_in? && @user==current_user%>
    <%= link_to  "Sair", logout_path,method: :delete %>
  <%else%>
  <%= link_to  "Voltar para seu perfil", user_path(current_user)%>  
<%end%>

<br><%= @user.name %><br>
<%= @user.email %>
<%if @user==current_user%>
    <%=link_to 'Crie um novo post',user_post_path(@user,:new)%>

    
<% end %>
<p>POST:</p> 
<% for post in (@user.posts)%>
<br>   
    <p> De: <%= post.user.name %></p>

    <tr>    
        
        
        <td><%= post.content %></td>
        <br>
        <td><%= link_to 'Ver mais sobre este post', user_post_path(@user,post) %></td>
        
      </tr>
<%end%>
<br>
<br>
<%= link_to  "Outros usuarios", users_path %>
<% @teste=true %>
<p>Amigos</p>


<% for friend in FriendShip.where user_id: @user.id%>
    <% if (User.find(friend.friend_id)==@current_user)%>
        <%@teste=false%>
        
    <% end %>
    
    <%=User.find(friend.friend_id).name%>
    <% if @user==@current_user%>
        <%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
<%end%>

<!--lista os amigos e impedir de fazer amizade com um amigo e com si proprio-->

<% for friend in FriendShip.where friend_id: @user.id%>
    
    <% if (User.find(friend.user_id)==@current_user)%>
        <% @teste=false%>
        
    <% end %>


    <%=User.find(friend.user_id).name%>
    <% if @user==@current_user%>
        <%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
<%end%>
<% if ((@user!=@current_user)&&(@teste))%>
<br>
    <%= link_to "Adicionar aos amigos",user_friend_ships_path(@user,:new) %> 

<%end%>
